@media (max-width: 575.98px) {
    #contatti .maps iframe {
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 576px) {
    #contatti .maps iframe {
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 768px) {
    #contatti .maps iframe {
        width: 100%;
        height: 850px;
    }
}

@media (min-width: 992px) {
    #contatti .maps iframe {
        width: 100%;
        height: 700px;
    }
}

.contact {
    margin: 0px;
    padding: 0px;
}

.jumbotron {
    background-color: white;
    border: 1px solid gray;
}