.content {
    min-height: calc(100vh - 70px);
}

.table {
    width: 100%;
}

.th {
    width: 33%;
}

.footer {
    height: 50px;
}

.form-group {
    margin: 15px;
}

.zoek {
    color: black;
}

.zoek:hover {
    color: black;
}

.cato {
    height: 230px;
    width: 220px;
}

.navbar-brand {
    color: rgb(0, 103, 198);
}

.main-div {
    margin: 0px;
    padding: 0px;
}